/* Estilos para el encabezado */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  h1 {
    margin: 0;
    font-size: 36px;
  }
  
  /* Estilos para la navegación */
  nav {
    background-color: #f2f2f2;
    border-bottom: 1px solid #ccc;
    padding: 10px;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: inline-block;
    margin-right: 20px;
  }
  
  a {
    color: #333;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Estilos para el contenido principal */
  main {
    padding: 20px;
  }
  
  h2 {
    margin-top: 0;
    font-size: 28px;
  }
  
  ul {
    margin-top: 0;
  }
  
  p {
    line-height: 1.5;
  }
  
  /* Estilos para el formulario de contacto */
  form {
    margin: 20px 0;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #444;
  }
  
  /* Estilos para el pie de página */
  footer {
    background-color: #f2f2f2;
    border-top: 1px solid #ccc;
    padding: 20px;
    text-align: center;
  }
  
  footer ul {
    margin: 0;
    padding: 0;
  }
  
  footer li {
    display: inline-block;
    margin-right: 20px;
  }
  
  footer a {
    color: #333;
  }